<div class="hero">
  <div class="backdrop">
    <div class="lazyloaded">
      <img class="lazyload image" src="https://image.tmdb.org/t/p/original/{{ movie?.backdrop_path }}">
    </div>
  </div>
  <div class="pane">
    <div>
      <div class="name">{{ movie?.title }}</div>
      <div class="meta">

        <div class="info">
                    <span class="rate">
                        <i class="material-icons">star</i><span>{{ movie?.vote_average }}</span> /10
                    </span>
          <span> {{movie?.vote_count | numberWithCommas }} Reviews</span>
          <span>{{movie?.release_date | date: 'yyyy' }}</span>
          <span>{{movie?.runtime | time  }}</span>
        </div>
      </div>
      <div class="desc">{{ movie?.overview }}</div>
    </div>
  </div>
</div>
